
<div class="body">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">    
        <div class="content">
            <div class="content__container">
                <p class="content__container__text">
                Soluciones en 
                </p>
                
                <ul class="content__container__list">
                <li class="content__container__list__item">Programacion</li>
                <li class="content__container__list__item">Automaxion</li>
                <li class="content__container__list__item">Ingeniera</li>
                <li class="content__container__list__item">Varias</li>
                </ul> 
            </div>
        </div>    
</div>