
<div class="card text-white card-has-bg click-col" style="background-image:url('https://image.shutterstock.com/image-vector/shipping-fast-delivery-truck-icon-260nw-1145000945.jpg');">
    <img class="card-img d-none" src="https://image.shutterstock.com/image-vector/shipping-fast-delivery-truck-icon-260nw-1145000945.jpg" alt="Primera tarjeta">
    <div class="card-img-overlay d-flex flex-column">
        <div class="card-body">
            <small class="card-meta mb-2">Automacion</small>
            <h4 class="card-title mt-0 "><h4 class="text-white" >Soluciones para la produccion</h4></h4>
        </div>
        <div class="card-footer">
            <div class="media">
                <img class="mr-3 rounded-circle" src="https://icons-for-free.com/download-icon-media+message+send+telegram+icon-1320192980424419632_0.svg" alt="Generic placeholder image" style="max-width:50px">
                <div class="media-body">
                    <h6 class="my-0 text-white d-block">FRS</h6>
                </div>
            </div>
        </div>
    </div>
</div>
