

<app-carousel></app-carousel>
<div class="container-fluid m-15">
    <app-textomovil></app-textomovil>
</div>

<div class="container-fluid mt-5 ">
    <section class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mt-5">        
                    <app-card-auto></app-card-auto>
                </div>
                <div class="col-md-3 mt-5">
                    <app-card-ing></app-card-ing>
                </div>
                <div class="col-md-3 mt-5">
                    <app-card-prog></app-card-prog>
                </div>
                <div class="col-md-3 mt-5">
                    <app-card-solu></app-card-solu>
                </div>
            </div>
        </div>
    </section>
</div>
